<div class="container text-center">
  <h1 class="mt-5">Welcome to Your Dashboard</h1>

  <div class="row justify-content-center mt-5">
    <div class="col-md-4 mb-3">
      <a routerLink="/work-schedule" class="btn btn-primary btn-lg btn-block">Work Schedule</a>
    </div>
    <div class="col-md-4 mb-3">
      <a routerLink="/appointments" class="btn btn-success btn-lg btn-block">Appointments</a>
    </div>
    <div class="col-md-4 mb-3">
      <a routerLink="/profile" class="btn btn-warning btn-lg btn-block">Profile</a>
    </div>
  </div>
</div>
